[submodule "logSystem"]
	path = logSystem
	url = https://github.com/wangt610/LogSystem.git
[submodule "src/chat_ai"]
	path = src/chat_ai
	url = https://github.com/wangt610/AI-Intelligent-Assistant.git
